<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans     
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd     
    http://www.springframework.org/schema/context     
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd" default-autowire="byName">
	
	<!-- static resources -->
	<mvc:resources location="/statics/" mapping="/statics/*"/>

	<!-- http message convert to utf-8 -->
	<bean  class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" >  
	    <property name="messageConverters">
	         <list>
	             <bean class = "org.springframework.http.converter.StringHttpMessageConverter">  
	                <property name = "supportedMediaTypes">
	                     <list>
	                         <value>text/plain;charset=UTF-8</value>
	                         <value>application/x-www-form-urlencoded;charset=utf-8</value>
	                     </list>  
	                </property>
	             </bean>
	         </list>
	    </property>
	</bean>
	<mvc:annotation-driven/>
	<context:component-scan base-package="com.checkins"/>
	<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
			 <!--
				<prop key="java.sql.SQLException">/error/ex.jsp</prop>
				<prop key="java.lang.RuntimeException">/error/ex.jsp</prop> 
			 	
				<prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">/login.jsp</prop>
			-->
			</props>
		</property>
	</bean>
	
</beans>